@{
    ViewBag.Title = "About";
}
<h2 class="text-center display-3 my-5">
    <span class="text-success">J</span>.
    <span class="text-primary">E</span>.
    <span class="text-info">M</span>.
</h2>

<br />
<section class="my-5">
    <div class="row d-flex">
        <div class="mx-auto text-center">
            <img src="https://picsum.photos/300/300/?random" class="img-fluid rounded-circle" alt="Sample image">

            <h2 class="mt-5 text-uppercase">John Dominguez</h2>
            <p>
                I believe that software is a tool which improve so many of our activities: by providing software we can open so many possibilities.

                People have unique skills and competencies and software should be there to complement them, to help them performin analysis quickly, to help them visualize ideas, to run checks and calculations for them. So that people can focus on using their abilities to provide more value.

                To me building software means to provide tools to people.
            </p>
        </div>
    </div>
</section>
<hr />
<section class="my-5">
    <div class="row d-flex">
        <div class="mx-auto text-center">
            <img src="https://picsum.photos/300/300/" class="img-fluid rounded-circle" alt="Sample image">

            <h2 class="mt-5 text-uppercase">Ethan Misales</h2>
            <p>
                I believe that software is a tool which improve so many of our activities: by providing software we can open so many possibilities.

                People have unique skills and competencies and software should be there to complement them, to help them performin analysis quickly, to help them visualize ideas, to run checks and calculations for them. So that people can focus on using their abilities to provide more value.

                To me building software means to provide tools to people.
            </p>
        </div>
    </div>
</section>
<hr />
<section class="my-5">
    <div class="row d-flex">
        <div class="mx-auto text-center">
            <img src="https://picsum.photos/300/300/?blur" class="img-fluid rounded-circle" alt="Sample image">

            <h2 class="mt-5 text-uppercase">Monica Miller</h2>
            <p>
                I believe that software is a tool which improve so many of our activities: by providing software we can open so many possibilities.

                People have unique skills and competencies and software should be there to complement them, to help them performin analysis quickly, to help them visualize ideas, to run checks and calculations for them. So that people can focus on using their abilities to provide more value.

                To me building software means to provide tools to people.
            </p>
        </div>
    </div>
</section>