@{
    ViewBag.Title = "Contact";
}
<h3 class="text-center my-5"><small>DON'T</small> Contact Us</h3>

<section class="">
    <div class="d-flex row">
        <div class="col-md-8 mx-auto">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</section>


