
@{
    ViewBag.Title = "Home Page";
}


<div class="hero-container d-flex mb-0">
    <div class="hero-text text-center  mx-auto">
        
    </div>
</div>

<h4 class="text-center text-monospace text-justify">Stat Tracker Visualizer</h4>


<div class="container my-5">
    @Html.Partial("_UserListPartial")
</div>