
@{
    ViewBag.Title = "Home Page";
}


<div class="hero-container d-flex my-5">
    <div class="hero-text text-center  mx-auto">
        <h3 class="">Tracker Visualizer</h3>
        <h4>Account Manager</h4>
    </div>
</div>


<div class="container">
    <div class="row">
        <h1>@ViewBag.Message</h1>
        @Html.Partial("_UserListPartial")
    </div>
</div>